* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;

}

/**Atur image **/
.imgslide {
	width: 100%;
	height: 580px;
}

footer {
	background-color: black;
	color: white;
}
.emailicon{
	height: 30px;
	width: 10%;
	margin-top: 0.1cm;
}
.logo {
	height: 20%;
	width: 20%;
}
.review {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}


